.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.idea/
.vscode/
*.iml
.gradle/
android/local.properties
android/key.properties
android/app/google-services.json
*.jks
*.keystore
